body {
    background: #103b1a;
    color: #3fec61;
    padding: 0 16px;
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3.5em;
}

p {
    padding-left: 110px;
}

text {


}
span{
    display: inline-block;

    width: 25px;
    height: 25px;
    vertical-align: top;
    text-align: center;
}

/*-----------Game------------*/
.bush {
    font-size: 5px;
    color: green;
}

.bush2 {
    font-size: 10px;
    color: darkgreen;
}

.tree {
    font-size: 15px;
}

.berry {
    font-size: 5px;
    color: #ff092f;
}

.fruit {
    font-size: 7px;
    color: firebrick;
}
.mouse {
    font-size: 10px;
}
